<h1> Foods you can make using <%=@ingredient_one%>, <%=@ingredient_two%>, and <%=@ingredient_three%>: </h1>


<ul>
  <% @parsed_data.each do |recipe| %>
    <li>
      <a href="/get_recipe/<%=recipe['id']%>"> <%= recipe['title'] %> </a>
    </li>
  <% end %>
</ul>


<a href="/food_form">Let's find other foods!</a>
